*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.active{
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: yellow;
    transition: .4s;
}

#toggle{
    position: relative;
    display: block;
    width: 320px;
    height: 160px;
    border-radius: 160px;
    background-color: darkorange;
    transition: 0.4s;
    box-shadow: 0 30px 5px 5px darkgoldenrod;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: lime;
}

#toggle.active .toggle{
    left: 160px;
}